﻿@using WebApplication1.Models
@{
    Layout = null;

    var data = (Calculator)ViewData["Message"];

}

<!DOCTYPE html>
<style>
    .calculatorbutton {
        background-color: #8245dc;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: 10pt;
    }
    .input {
        display: block;
        direction: ltr;
        text-align: right;
        
        font-size: x-large;
       
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CalculatorView</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {

        <table>
            <tr>
                <td colspan="3"><input type="text" name="calculation" value="@data.calculation" class="input" /></td>
               
                <td>&nbsp;</td>
                <td><input name="Activity" type="submit" value="C" class="calculatorbutton" /></td>
            </tr>
            <tr>
                <td><input name="Activity" type="submit" value="1" class="calculatorbutton" /></td>
                <td><input name="Activity" type="submit" value="2" class="calculatorbutton" /></td>
                <td><input name="Activity" type="submit" value="3" class="calculatorbutton" /></td>
                <td></td>
                <td><input name="Activity" type="submit" value="+" class="calculatorbutton" /></td>
            </tr>
            <tr>
                <td><input name="Activity" type="submit" value="4" class="calculatorbutton" /></td>
                <td><input name="Activity" type="submit" value="5" class="calculatorbutton" /></td>
                <td><input name="Activity" type="submit" value="6" class="calculatorbutton"></td>
                <td></td>
                <td><input name="Activity" type="submit" value="-" class="calculatorbutton" /></td>
            </tr>
            <tr>
                <td><input name="Activity" type="submit" value="7" class="calculatorbutton" /></td>
                <td><input name="Activity" type="submit" value="8" class="calculatorbutton" /></td>
                <td><input name="Activity" type="submit" value="9" class="calculatorbutton" /></td>
                <td></td>
                <td><input name="Activity" type="submit" value="*" class="calculatorbutton" /></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input name="Activity" type="submit" value="0" class="calculatorbutton" /></td>
                <td></td>
                <td><input name="Activity" type="submit" value="/" class="calculatorbutton" /></td>
            </tr>
            <tr>
                <td><input name="Activity" type="submit" value="." class="calculatorbutton" /></td>
                <td><input name="Activity" type="submit" value="(" class="calculatorbutton" /></td>
                <td><input name="Activity" type="submit" value=")" class="calculatorbutton" </td>
                <td></td>
                <td><input name="Activity" type="submit" value="=" class="calculatorbutton" /></td>
            </tr>
        </table>
        }
    </div>
</body>
</html>
