﻿@model WebApplication1.Models.Card

@{
    ViewBag.Title = "CardsDeleteView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CardsDeleteView</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cards</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suit)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "CardsListView")
    </div>
    }
</div>
