﻿@model WebApplication1.Models.Card

@{
    ViewBag.Title = "CardDetailsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CardDetailsView</h2>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CardEditView", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "CardsListView")
</p>
