﻿@model IEnumerable<WebApplication1.Models.Card>

@{
    ViewBag.Title = "Pack of Cards List View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CardsListView</h2>

<p>
    @Html.ActionLink("Create New", "CardCreateView")  
</p>
<table class="table">

    
    <tr>
    <th>
       &nbsp;
    </th>
    <th>

        @using (Html.BeginForm())
    {
        <p>
            @Html.TextBox("SearchText")  <input type="submit" value="Filter" /><br />

        </p>

}

    </th>
    <th></th>
    </tr>

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suit)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.suit)
            </td>
            <td>
                @Html.ActionLink("Edit", "CardEditView", new { id = item.Id }) |
                @Html.ActionLink("Details", "CardDetailsView", new { id = item.Id }) |
                @Html.ActionLink("Delete", "CardDeleteView", new { id = item.Id })
            </td>
        </tr>
    }

</table>
