﻿
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu</h2>

<ul>
    <li>@Html.ActionLink("Pack of Cards List ", "CardsListView", "Home")</li>
    <li>@Html.ActionLink("Contacts List ", "ContactListView", "Home")</li>
    <li>@Html.ActionLink("Record by Viewbag ", "RecordViewBagView", "Home")</li>
    <li>@Html.ActionLink("Record by ViewData ", "RecordViewDataView", "Home")</li>
    <li>@Html.ActionLink("Wordinator for the web", "WordinatorView", "Home")</li>
    <li>@Html.ActionLink("Calculator for the web", "CalculatorView", "Home")</li>
    <li>@Html.ActionLink("Simple word processor", "WordProcessor", "Home")</li>
    <li>@Html.ActionLink("Simple Mail Sender", "ViewMailer", "Home")</li>
    <li>@Html.ActionLink("Simple Password Assessor", "PasswordAssessorView", "Home")</li>

</ul>

