﻿@using WebApplication1.Models

@{
    ViewBag.Title = "title of page";
    Layout = null;
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Record with ViewBag View</title>
</head>
<body>
    <div>
        <h3>Passing Data From Controller to View using ViewBag</h3>
       @{
        Record recordData = ViewBag.Message;
       }


        <h3>Id: @recordData.Id</h3>
        <h3>RecordName: @recordData.RecordName</h3>
        <h3>RecordDetail: @recordData.RecordDetail</h3>



    </div>
</body>
</html>
