﻿@using WebApplication1.Models

@{
    ViewBag.Title = "title of page";
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Record with ViewBag View</title>
</head>
<body>
    <div>
        <h3>Passing Data From Controller To View using ViewData</h3>
        @{
            Record recordData = (Record)ViewData["Message"];
        }


        <h3>Id: @recordData.Id</h3>
        <h3>RecordName: @recordData.RecordName</h3>
        <h3>RecordDetail: @recordData.RecordDetail</h3>



    </div>
</body>
</html>
