﻿@using WebApplication1.Models

@{
    Layout = null;
}
@{
    var data = (Mailer)ViewData["Message"];
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewMailer</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>mail</h4>
            <hr />
          

            <div class="form-group">
                <input name="id" id="id" type="hidden" value="1">
                <div class="col-md-10">
                   mail to: <input name="mailto" id="mailto" type="text" value=@data.mailto >
                </div>
            </div>

            <div class="form-group">
               
                <div class="col-md-10">
                   mailfrom: <input name="mailfrom" id="mailfrom" type="text" value=@data.mailfrom >
                </div>
            </div>

            <div class="form-group">
             
                <div class="col-md-10">
                    subject: <input  name="subject" id="subject" type="text" value=@data.subject >
                </div>
            </div>

            <div class="form-group">
                
                <div class="col-md-10">
                    body: <input  name="body"  id="body" type="text" value=@data.body >
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Send" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
     
    </div>
</body>
</html>
