﻿@using WebApplication1.Models
@{
    ViewBag.Title = "WordProcessor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TextFile data = (TextFile)ViewData["Message"];
}

<h2>WordProcessor</h2>
@using (Html.BeginForm())
{
    <table style="width:100%;">
        <tr>
            <td>&nbsp;<input id="ReadFile" name="Action" type="submit" value="Read File" /></td>
            <td>&nbsp;<input id="File1" name="Filepath" type="file" value="@data.Filepath" /></td>
            <td>&nbsp;<input id="Id" name="Id" type="hidden" value="101" /></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
           
           
            <td>

               
               
                <textarea id="FileContent" name="FileContent" rows="20" cols="100">@data.FileContent</textarea>

            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;<input id="Save" name="Action" type="submit" value="Save" /></td>
            <td>&nbsp;</td>
        </tr>

    </table>
}

