﻿@using WebApplication1.Models

@{
    ViewBag.Title = "title of page";
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Record with ViewBag View</title>
</head>
<body>
    @using (Html.BeginForm())
    {
    <div>
        <h3>Passing Data to the controller from a form  in a view
        then back From Controller To View using ViewData to populate the fields in the form again</h3>
        @{
        var data = (Wordinator)ViewData["Message"];
        }
        <input id="Id" type="hidden" value="101" />


        
        
        This is the original text<br />
                                 <textarea id="originalText" rows="4" name="originalText" cols="20">@data.originalText</textarea><br />

        this is the wordinated text<br />
                                   <textarea id="wordinatedText" rows="4" name="wordinatedText" cols="20">@data.wordinatedText</textarea>




       










        <input id="Submit1" type="submit" value="submit" />

    </div>
                }
    </body>
</html>